*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $gray-charcoal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}



