*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-image: url("../../../public/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme="dark"] body {
  background-image: url("../../../public/bg-desktop-dark.jpg");
}



