*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  min-height: 100vh;
  background-image: url("../../../public/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $very-light-gray;
}

[data-theme="dark"] body {
  background-image: url("../../../public/bg-desktop-dark.jpg");
  background-color: $very-dark-blue;
}

main {
  width: 100%;
  max-width: 33.75rem;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}




