@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

// Body Copy
$default-type: 16px;

// Font Weights
$weight-400: 400;
$weight-700: 700;


