
.card-container {
    width: 824px;
    height: 640px;
    padding: 24px;
    background-color: $white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 12px;

        .title {
            color: $gray-dark;
            font-size: 45px;
        }

        .description {
            color: $gray-dark;
            font-size: 14px;
            line-height: 2;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin: 12px 0 18px 0;


            &-item {
                color: $gray-dark;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 17px;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            margin-top: 12px;



            &-label {
                color: $gray-dark;
                font-size: 10px;
                font-weight: $weight-700;
                margin-bottom: 12px;
                display: flex;
                justify-content: space-between;

                .label-error {
                    color: $primary-color;
                    font-size: 10px;
                    font-weight: $weight-700;
                }
            }



            &-input {
                width: 324px;
                height: 48px;
                padding: 12px;
                border: 1px solid $gray;
                border-radius: 5px;
                font-size: 14px;
                margin-bottom: 16px;

                &:focus {
                    outline: none;
                    border: 1px solid $gray-dark;
                }

            }
            &-input-error {
                width: 324px;
                height: 48px;
                padding: 12px;
                border: 1px solid $primary-color;
                border-radius: 5px;
                font-size: 14px;
                margin-bottom: 16px;
                color: $primary-color;
                background-color: $primary-color-light;

                &:focus {
                    outline: none;
                    border: 1px solid $primary-color;
                }
            }

            &-button {
                width: 324px;
                height: 48px;
                background-color: $gray-dark;
                color: $white;
                font-size: 14px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }

        
    }

    &__image {
        img{
            width: 400px;
        }
    }
}