.thankCard-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    border-radius: 5%;
    background-color: $white;
    max-width: 452px;

    .title {
        color: $gray-dark;
        font-size: 45px;
    }

    .description {
        color: $gray-dark;
        font-size: 14px;
        line-height: 1.5;
        margin-top: 0;

        span {
            font-weight: 700;
        }
    }

    .button {
        margin-top: 24px;
        width: 100%;
        height: 48px;
        background-color: $gray-dark;
        color: $white;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $primary-color;
        }
    }
}